.jobDeets {
  .uploadedImage {
    position: relative;
    width: 200px;
    height: 200px;
    .deleteIcon {
      position: absolute;
      right: 0;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      place-content: center;
      background-color: var(--pryColor);
      color: var(--white);
      padding: 0.5em;
      cursor: pointer;
    }
  }
}
