.deact .wrapper {
  width: 40%;
}

.container-deactivate {
  margin: 3em auto;
  border-radius: 0.5rem;
  background: #fff;
}

.container-deactivate h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1em;
}
.container-deactivate p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
