.ListingDeetsCard {
  .showProp {
    font-size: 0.7rem;
  }

  .propBanner {
    border: solid 2px var(--Line);
    border-radius: 10px;
    li {
      h5 {
        font-size: 1rem;
        font-weight: 500;
        color: var(--Grey6);
        margin-bottom: 0.7em;
      }

      h6 {
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }

  .selectedProp {
    article {
      h4 {
        margin: 1em auto;
      }

      h6 {
        color: var(--mainDark);
      }

      p {
        color: var(--Grey6);
      }
    }

    aside {
      .tenantCard {
        background: var(--mainDark);
        border-radius: 9px;
        padding: 0.5em 1em;

        .titleGroup {
          border-bottom: solid 1px #e8e6f931;
        }

        h5 {
          font-size: 0.9rem;
          font-weight: 700;
          color: var(--white);
        }

        small {
          font-size: 0.8rem;
          font-weight: 400;
          color: var(--Grey6);
        }
      }

      .propOccupied {
        background: #f7f7fd;
        border: solid 2px var(--Line);
        border-radius: 9px;
        padding: 2em 1em;
      }
    }
  }
}
