.spinit {
  border: 5px solid var(--mainLight);
  border-top: 5px solid var(--mainColor);
  border-radius: 50%;
  width: 1.9em;
  height: 1.9em;
  margin: 0 auto;
  animation: spin 01s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
