.notifications {
  background: var(--white) !important;
  section {
    h6 {
      font-weight: 700;
    }
    p {
      font-size: 0.8rem;
      //   color: var(--Grey6);
      font-weight: 500;
    }
  }
}
